<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="End to End test suite.">
    <listeners></listeners>
    <test thread-count="2" name="E2E Tests" parallel="classes">
        <classes>
            <class name="org.tw.tests.NewWalletCreationTest" />
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->